<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="static/css/style.css" media="screen" />
    <title>Rennê Ruan</title>
</head>

<body>
    <nav class="px-lg2 px-2 navbar navbar-expand-lg navbar-dark sticky-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="overlay"></div>

    <div id="form-prediction" class="text-center row" width="100%">
        <div class="container mt-5 center col-10">
            <h2 class="mb-4">Detecção de Fumaça</h2>
            <form id="prediction-form" method="POST" class="row g-3" action="/predict" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-primary" id="openModal">Submeter</button>
                </div>
            <!-- Submit Button -->

            </form>

        </div>
    </div>
    <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="submitModalLabel">Submetendo...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modalMessage">Por favor aguarde.</p>
                    <div id="image-container" style="display:none;">
                        <h3>Imagem de Retorno</h3>
                        <img id="result-image" src="" alt="Imagem de Retorno" style="max-width: 100%; margin-top: 20px;">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>


    <footer class="bg-dark text-white text-center py-2">
        <p class="mb-0">&copy; 2024 Rennê Oliveira.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#openModal").click(function () {
                var form = $("form")[0];

                if (!form.checkValidity()) {
                    form.classList.add("was-validated");
                    return;
                }

                $("#submitModal").modal("show");  // Open modal
                $("#submitModalLabel").text("Submetendo imagem...");
                // $("#modalMessage").text("Aguarde a conclusão da análise.");

                var formData = new FormData($("#prediction-form")[0]);

                console.log(formData)

                $.ajax({
                    type: "POST",
                    url: "/predict",
                    data: formData,
                    processData: false, 
                    contentType: false,
                    success: function (response) {
                        console.log(response)
                        $("#modalMessage").text(JSON.stringify(response.predictions));
    
                        console.log(response.output_path)
                        $('#result-image').attr('src', response.output_path);

                        // Exibir as imagens no frontend
                        $('#image-container').show(); 


                    },
                    error: function (xhr, status, error) {
                        $("#submitModalLabel").text("Erro");
                        $("#modalMessage").html(`<strong>Something went wrong:</strong> ${xhr.responseText}`);
                    }
                });
            });
        });
    </script>


    <!-- <script src="./script.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>